html {
  position: relative;
  height: 100%;
  overflow-y: auto;
  min-height: 100%;
}

body {
  background-color: #878787;
  height: 100% !important;
  margin-bottom: 60px;
}

.nav-fondo {
  background-color: #E20715;
}

.footer {
  bottom: 0px;
  width: 100%;
  background-color: #E20715;
  position: fixed;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.color-tabla {
  background-color: #E20715;
}